[2015-07-28 01:22] joewood opened #29 "Problem with setting initialValues through componentWillReceiveProps"
When the component is rendered multiple times and React invokes `componentWillReceiveProps` the changing value of **initialValue** is ignored. It looks like the initialization code around setting the values isn't called when the component is remounted.

[2015-07-28 20:14] alsoscotland commented on #29
@joewood Thanks for filing the issue.  I will get this taken care of shortly

[2015-07-29 04:06] alsoscotland commented on #29
@joewood
I think that pull https://github.com/alsoscotland/react-super-select/pull/30 should cover it.

[2015-07-29 10:39] joewood commented on #29
Thanks @alsoscotland. It's a great component!

[2015-07-29 13:44] alsoscotland commented on #29
I appreciate it @joewood
Glad you are finding it useful!
I will merge this and tag a new branch soon.  I am hoping to get a couple other minor modifications in alongside it.

[2015-08-03 01:45] alsoscotland commented on #29
This should be fixed in version 0.1.16

[2015-08-03 01:45] #29 closed

[2015-09-03 08:28] hmeerlo opened #31 "customFilterFunction"
Hi,

your component looks pretty nice. But I would like to use the customFilterFunction but how would my custom filter know what to filter on if the input handling is completely handled by ReactSuperSelect. I only get the option as an parameter, but not the search text.

/Herman

[2015-09-09 01:13] alsoscotland commented on #31
@hmeerlo  Thanks for filing the issue.  My apologies for the late reply, I wasn't working over the holiday weekend.  Looks like an oversight on my part.  I will get a fix in and tag a new version

[2015-09-09 05:03] alsoscotland commented on #31
@hmeerlo You should have access to the searchString if you install v0.1.18
https://github.com/alsoscotland/react-super-select/tree/v0.1.18
Thanks Again!

[2015-09-09 05:03] #31 closed

[2015-09-09 05:39] hmeerlo commented on #31
Thanks, I will give it a try.

[2015-09-29 12:44] hmeerlo opened #36 "Unset chosen value"
Hi,

is there any way to unset the chosen value? The user selects a value from the dropdown but later on he wants to unselect it. How to do this?

/Herman

[2015-09-30 17:50] alsoscotland commented on #36
@hmeerlo currently the use has to re-click the selected option.  In one of the next pulls I make I think I will implement clear button functionality.  If you have requests as to what it should look like I am open to hearing them

[2015-10-01 08:28] hmeerlo commented on #36
@alsoscotland I think a simple method would suffice. So the user can implement his own selection clearing. Maybe an optional property to include a clear button as you suggest.

[2015-10-01 12:16] hmeerlo commented on #36
@alsoscotland By the way, re-clicking the selected option does not unselect it for me. I can not even click on the selected option. Also on the live examples it doesn't work that way.

[2015-10-01 13:44] alsoscotland commented on #36
@hmeerlo my apologies.  It has been a bit since I wrote it.  You are absolutely right.  I will get a clear function in soon

[2015-10-03 14:04] z3ugma opened #37 "Need a way to reset search text on multiselect + search + tags"
When calling a component that has multiselect, searchable, and tags all = true, the search text does not reset itself onChange.

This makes it difficult for the user to make the next selection if they are searching through a long list. They first have to delete all the text they previously searched for.

[2015-10-07 16:12] alsoscotland commented on #37
@z3ugma thanks for submitting.  I plan to work on the control a bit this week so I will look into it

[2015-10-28 21:22] z3ugma commented on #37
Any word on implementing this?

[2015-10-29 00:18] alsoscotland commented on #37
@z3ugma I have it almost done.  Just wrapping up specs and some css.

[2015-10-29 02:09] z3ugma commented on #37
👍🏻👍🏻🤓

[2015-10-29 13:47] alsoscotland commented on #36
@hmeerlo Apologies that it took longer than expected.  0.1.19 should have this for you

[2015-10-29 13:47] #36 closed

[2015-10-29 13:48] alsoscotland commented on #37
@z3ugma 0.1.19 should do what you need.  Please let me know if you run into any issues.  Closing for now

[2015-10-29 13:48] #37 closed

[2015-10-29 13:49] hmeerlo commented on #36
@alsoscotland No problem, thanks!

[2015-10-30 05:44] psibi opened #41 "Error: Invariant Violation: ReactSuperSelect.render()"
I'm trying to make a sample example work:

[code]

And in the console, I'm getting this error:

[code]

[2015-11-02 15:58] alsoscotland commented on #41
@psibi can you tell me anything more about your setup?  React versions etc.

[2015-11-19 10:32] mkotar opened #44 "Uncaught Error: Cannot find module 'react'"
Hi,
after upgrading to newest version 0.2.0

I get one error:
react-super-select.js:1     Uncaught Error: Cannot find module 'react'

and one warning
WARNING in ./~/react-super-select/lib/react-super-select.js
Critical dependencies:
1:132-139 This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the original source to get better results.
 @ ./~

[2015-11-19 14:36] alsoscotland commented on #44
@mkotar
was v0.1.19 working with the same build setup?  In moving to v0.2.0 I changed how I configured the file for external peerDependencies.

[2015-11-19 15:56] mkotar commented on #44
No. 0.19 was not passing the build process.

[2015-11-19 16:12] alsoscotland commented on #44
Okay.  going to investigate further

[2015-11-26 09:11] mkotar commented on #44
Hi, I've updated to 2.1 and now I have this:
Uncaught Error: Cannot find module 'lodash' in react-super-select.js:1 in chrome dev tools

and a warning in webpack process
WARNING in ./~/react-super-select/lib/react-super-select.js
Critical dependencies:
7:76-84 This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the original source to get bett

[2015-11-26 14:04] alsoscotland commented on #44
Michal,
There are still some issues I am trying to work out since upgrading to React 14+.I am going to take a look in the next couple days.Can you tell me the last version you had that was working properly for you?
Thanks,Scotland

    On Thursday, November 26, 2015 4:11 AM, Michał <notifications@github.com> wrote:

 Hi, I've updated to 2.1 and now I have this:
Uncaught Error: Cannot find module '

[2015-11-27 09:54] hmeerlo commented on #44
I have got the exact same problem as @mkotar. 0.1.18 was still working for me but that lacks React 0.14 support so I tried to upgrade to 2.1. Why is 0.1.19 and above now published as a bundled/prebuilt package on npm? Somehow webpack doesn't like this.

[2015-11-30 03:58] alsoscotland commented on #44
I released 0.2.2 tonight.  Please let me know if that solves your issues.
Thank you,Scotland

    On Thursday, November 26, 2015 4:11 AM, Michał <notifications@github.com> wrote:

 Hi, I've updated to 2.1 and now I have this:
Uncaught Error: Cannot find module 'lodash' in react-super-select.js:1 in chrome dev toolsand a warning in webpack process
WARNING in ./~/react-super-select/lib/react-super-s

[2015-11-30 07:34] hmeerlo commented on #44
Thanx @alsoscotland , it works for me now!

[2015-11-30 07:35] mkotar commented on #44
Now it works ;)

[2015-12-01 03:37] alsoscotland commented on #44
@mkotar and @hmeerlo  thanks for the help and the reporting.  Closing for now.  Let me know if any other issues come up

[2015-12-01 03:37] #44 closed

[2015-12-01 03:38] alsoscotland commented on #41
@psibi  version 0.2.2 seems to have gotten most people into a working state.  Closing for now

[2015-12-01 03:38] #41 closed

[2015-12-01 09:48] psibi commented on #41
@alsoscotland Sorry, didn't get time to try it. Thanks for resolving the issue.

[2015-12-30 06:58] oyeanuj opened #46 "Server side render issues"
Hi @alsoscotland! Firstly, thanks for the plugin and the annotated source list (*I'd love to see more plugins do that*)!

I ran into the following React warning when inserting two `ReactSuperSelect` components in a single component:

[code]

[code]

Have you seen this before? Or any pointers in solving this problem?

[2015-12-30 19:16] oyeanuj opened #47 "Close on click outside select dropdown"
Hi @alsoscotland! I am wondering if there is a way to configure the select dropdown to close when there is a click outside the dropdown?

[2015-12-31 01:31] alsoscotland commented on #46
@oyeanuj Thanks!  Glad you like the component.
The annotated source is easy to do with https://github.com/jashkenas/docco by @jashkenas by the way.  It is a great tool

I have not run into the issue you are having with client-side rendering.  Can you give me some info about your setup.  Do you use webpack?  How are you rendering server-side?

[2015-12-31 01:37] alsoscotland commented on #47
@oyeanuj I have considered it in the past but opted not to.  I did not think it fit everyone's use case to do so.  I will look into level of effort for adding that as a configurable option

[2015-12-31 01:40] alsoscotland commented on #46
@oyeanuj I did see another component with a similar issue when a user was using both redux and webpack.
The recommendation there was to try setting __DEVTOOLS__: false in webpack/dev.config.js
Not sure if that applies here but it seems simple enough to try...

[2015-12-31 02:22] oyeanuj commented on #46
Thanks for the quick response! Ideally, I would not want to disable DevTools while using the select plugin.

My setup is Redux &Webpack, entirely the setup described here: https://github.com/erikras/react-redux-universal-hot-example. Let me know if I can provide more details.

[2015-12-31 02:24] oyeanuj commented on #47
I see. Let me know if you make it a configurable option - fit's everyone use-case :)

As an aside, I am curious for what use-cases do folks prefer it not closing the select dropdown when clicking outside?

[2015-12-31 03:09] alsoscotland commented on #47
@oyeanuj I did not have an exact use case in mind but was debating in general whether it could potentially have a negative impact on any UI scenarios.  It would most likely be fine for everyone

[2015-12-31 20:00] oyeanuj commented on #46
@alsoscotland FWIW, once I disable SSR, the error goes away. Maybe that was implied, but I thought I'll mention it anyway.

Disabling DEVTOOLS does not help though :/

[2016-01-10 06:54] alsoscotland commented on #47
@oyeanuj please see if https://github.com/alsoscotland/react-super-select/tree/v0.2.3 resolves this issue for you when you have the chance.
Thanks again.

Still T.B.D. on the the other issue you filed.

[2016-01-10 07:46] oyeanuj commented on #46
You might already know this but I wonder if the discussion in this link helps debug at all:
https://github.com/erikras/react-redux-universal-hot-example/issues/769

[2016-01-10 07:46] oyeanuj commented on #47
Yes, this works! Thanks so much!

Looking forward to the other issue being resolved :)

[2016-01-11 03:30] #47 closed

[2016-01-11 04:19] alsoscotland commented on #46
@oyeanuj, I have been looking into this a bit.  The problem seems to be due to the creation of a unique id in getInitialState.  (This is done for aria usage/accessibility compliance)

I have read a few threads and have not run across any solution I find to be ideal.  The simplest thing would be to require that the unique id for the control be passed as a prop but I am not thrilled about that.

Any

[2016-01-21 09:23] xabikos opened #49 "Menu list is not shown in a scrollable div"
Thank you very much for this amazing component. I really want to use it but I face a problem when trying to add the component inside a div that has overflow auto and there is not enough space for the menu to appear. In this case we need to scroll to be able to see all the options. You can see an example here
![super select](https://cloud.githubusercontent.com/assets/487416/12476300/b13f61ce-c028-1

[2016-01-21 15:16] alsoscotland commented on #49
@xabikos Thank you for the kind words about the component.
The decision to make the component an inline is an opinionated one but it was deliberate.

I apologize that it makes it a struggle for your use case.  Unfortunately, I think the best thing I can suggest here is that you use the customClass attribute, and override the dropdown styles so that the select dropdown fits in your window when scro

[2016-01-26 17:21] #49 closed

[2016-02-11 02:06] alsoscotland commented on #46
@oyeanuj any news on this?  Were you able to try removing the lodash uniqueId calls to see if that was the problem?

[2016-02-29 00:53] oyeanuj commented on #46
@alsoscotland Sorry for being MIA but I am back now on the project. Just to make sure I understand, are you suggesting that I pass in a fixed id like the code below:

[code]

That didn't work - let me know if that is what you were suggesting.

Also, were you able to reproduce the issue?

[2016-02-29 18:45] alsoscotland commented on #46
@oyeanuj  Thanks for getting back
I do not have an app setup using redux and have not had time to put together an app for testing isomorphic rendering.  I did read up that many of the problems are due to functions that create ids being run in a different context b/t server and browser.  The line you would need to hard-code to test is
https://github.com/alsoscotland/react-super-select/blob/14ac84fc

[2016-03-07 21:59] daversm opened #51 "_.findWhere is not a function"
I am getting this error,

I just did npm install
var ReactSuperSelect = require('react-super-select');

[2016-03-07 22:03] alsoscotland commented on #51
@daversm
Lodash as of version 4+ has removed findWhere. I built this component prior to that release.

I will work on updating any deprecated methods I am using this week.
For now, you can use the control if you lock your lodash version < 4

[2016-03-07 23:12] daversm commented on #51
Using lodash <4 now .. Works perfectly now..much thanks for the quick response

[2016-03-07 23:15] daversm opened #52 "height"
Is changing the height of the drop down menu hard? I was looking around CSS file a bit, but a little lost as to what to change.

[2016-03-08 02:11] alsoscotland commented on #52
@daversm
There is a max-height rule on the class "r-ss-dropdown"

you should be able to override the rules with by adding a more specific wrapping class with the
customClass attribute: http://alsoscotland.github.io/react-super-select/#customClass

example:
if you give the option customClass: "daversm"
[code]

[2016-03-08 02:11] #52 closed

[2016-03-09 05:04] alsoscotland commented on #51
Now compatible with lodash 4 upgrades
https://github.com/alsoscotland/react-super-select/releases/tag/v0.3.1

[2016-03-09 05:04] #51 closed

[2016-03-09 15:12] sinkcup opened #55 "how to auto submit form when onChange, suggest: return element"
now onChange(option) only can get a option, like:

[code]

can not get the element, so can not get it's parent form and auto submit it.

PS: there are many form(don't have a ref or id) in this page, and many select don't have a ref.

so how to auto submit form when onChange?

like JedWatson/react-select#822

[2016-03-09 16:34] alsoscotland commented on #55
@sinkcup
Thank you for the question.  I am not entirely sure I understand what you need.
The onChange function is a handler that is entirely in your control.

The react-super-select is meant to be a child of a containing form element.  In that sense, when you create it, it is usually in a context where you could identify the form.  So in a callback you could do anything you want with the form.  Ty

[2016-03-09 17:25] sinkcup commented on #55
this page have many forms, and every form don't have a "ref" or "id", so I need get the select or option element, but the react-super-select return option value.

code:

[code]

[2016-03-09 17:52] alsoscotland commented on #55
@sinkcup
There is not an underlying html select or option element to pass.  The control itself is built on non-form DOM elements and list-items.

I would recommend that you try creating a hidden input in your form that updates when the onChange of the react-super-select fires, then submit your form based on that wrapping element's onChange handler.

[2016-03-10 04:02] sinkcup commented on #55
no, react-select doesn't support this, but react support.

this code can get form and auto submit.

[code]

[2016-03-10 04:16] alsoscotland commented on #55
@sinkcup
In your example you are using jQuery which is not a dependency of the react-super-select control

My apologies.  I still am not following why the handler you pass as the value to the onChange prop of react-super-select cannot cover this use-case

[2016-03-10 04:36] sinkcup commented on #55
oh, sorry, I hadn't write the whole code, here is:

[code]

I don't want to using jquery in react app, but there is no another idea to get many forms with no ref.

[2016-03-10 04:39] sinkcup commented on #55
the problem is react-super-select and react-select can only pass value onchange, can not get parent form, so can't auto submit.

[2016-03-10 04:52] alsoscotland commented on #55
@sinkcup
The react-super-select control is not a true form element.
However,  if you were to create a wrapping component that links a hidden input's value to the superSelect's onChange return value via component state, I think you could accomplish what you are trying to do.

This is off-the-cuff pseudo-code, but something along the lines of:

[code]

[2016-03-10 05:00] sinkcup commented on #55
oh no...don't use `this.refs.xxx`.
there are many forms in this page, and every form has no "ref", like "entering students' score", there is a button can add new empty form.

[2016-03-10 05:04] sinkcup commented on #55
[code]

if Jim use "ref" inputField, Tom use "ref" inputField too?

[2016-03-10 05:14] alsoscotland commented on #55
The ref would be internal to the wrapping component.  It should not matter.
Each of these items would each create one wrapper component like I mentioned above...

[code]

[2016-03-10 05:57] sinkcup commented on #55
great! I will try.

[2016-03-28 17:01] mikedevita opened #56 "How can i detect when the dropdown item is deselected"
We want to disable a few different form elements based on whether onChange is fired and contains an option or not.

Basically to prevent users from continuing to fillout the form if the dropdown isnt picked..

however i noticed that onChange only fires when a new item is picked, not when an item is cleared/deselected.

[2016-03-28 17:56] alsoscotland commented on #56
@mikedevita Thanks for using the control.

In regards to clearing the selection, it looks as though I am not firing change.  That is a bug I will fix asap.

I need a little more info to figure out what is happening in regards to deselecting an option.
onChange should fire when options are removed:
https://github.com/alsoscotland/react-super-select/blob/master/src/react-super-select.js#L1145

Are y

[2016-03-28 20:58] mikedevita commented on #56
@alsoscotland here is the code example of what were doing.. were expecting onChange to fire even when an item is unchecked.. maybe `option` should return null or undefined?

[code]

[2016-03-29 03:37] alsoscotland commented on #56
@mikedevita
Addressed your concerns with https://github.com/alsoscotland/react-super-select/tree/v0.4.0

1) I added a call to onChange when the component is cleared.
2) in previous versions, onChange was called with an empty array if no options were set,  I have changed this call to "undefined"

Lastly,  Just in case the code you pasted above is copied from somewhere, there is a typo in it:
(chang

[2016-03-29 03:51] alsoscotland commented on #46
@oyeanuj any word on trying this?

[2016-04-13 14:21] #56 closed

[2016-04-27 15:08] #46 closed

[2016-05-04 13:53] trygveaa opened #59 "Selection fails when React-Super-Select is surrounded by a label"
When the select element is surrounded by a label element, no option is shown as selected after you select an option. E.g. with this code:

[code]

When I select an option, the select still shows "Select an option" and the onChange function is called first with the selected option, and then with undefined.

Since React-Super-Select doesn't create a html select element, it might not make sense to su

[2016-05-04 15:21] alsoscotland commented on #59
@trygveaa
Thanks for using the control.

From the specification for the label tag: https://www.w3.org/TR/html5/forms.html#the-label-element
"The activation behavior of a label element for events targeted at interactive content descendants of a label element, and any descendants of those interactive content descendants, must be to do nothing"

Since the control includes many elements with activatio

[2016-05-09 19:57] anuccio1 opened #60 "v 0.4.0 with React 0.13.x is throwing an error"
I was previously using v 0.1.16, and wasn't able to deselect in my multiselect dropdown, so I upgraded to 0.4.0, however now I am getting this error in my console:

Uncaught TypeError: this.refs.rssControl.contains is not a function_handleDocumentClick @ react-super-select.js?8d48:936

Is there a working version compatible with React 0.13.x???

[2016-05-09 20:15] #59 closed

[2016-05-09 20:20] alsoscotland commented on #60
@anuccio1 The last version that worked for React <14 was
0.1.19
Give that a try and let me know what happens.

[2016-05-09 20:41] anuccio1 commented on #60
Looks like that fixed that issue! Another question....looks like the clear all button isn't triggering on change...was this fixed in a future release as well?

[2016-05-09 21:13] alsoscotland commented on #60
@anuccio1 yes.  Unfortunately, that fix came after the upgrade so it may be a challenge to cherry-pick it.  Try making a fork and adding the equivalent of this commit https://github.com/alsoscotland/react-super-select/commit/a51e6fe803e049b63f878f6eb45a2d37828fa5fd

[2016-05-12 00:47] #60 closed

[2016-06-07 12:49] amgohan opened #62 "Clear Search Input and reset filter after selecting an Item from searchable dropdown"
Can you add an option to be able to clear the search input and reset the filter after selecting an Item.

Use case :
- expand the drop down (searchable)
- tape something in input to filter the list
- select the wanted option (the drop down close automatically)
- when expand the dropdown for the second time the input value is there and the filter still there

we want to clear the input and reset th

[2016-06-07 12:53] amgohan opened #63 "Drop down close when clicking on button clear in search input"
when using searchable dropdown and entering some strings in search input.
if we want to clear this input we click on the button clear. but when clicking the dropdown close.
we want that when we clear the input via the button, the dropdown remain open.

[2016-06-07 13:01] amgohan opened #64 "Focus on Search Input when expand dropdown on searchable dropdown"
We want to auto-focus on search input when dropdown is expanded

[2016-06-07 13:35] alsoscotland commented on #64
@amgohan On first expansion of the searchable control the search input field is the first thing that receives focus?  Could you give me more info around when it is not focusing like you would expect.

[2016-06-07 13:37] alsoscotland commented on #63
@amgohan
Just making sure I understand what you are asking correctly:
You would like the drop down to remain open when clicking the clear button for the search input field?

[2016-06-07 13:39] alsoscotland commented on #62
@amgohan
I think this likely makes sense as an option.  Can you tell me more about the configuration you are using?  Is it a multiselect or tag input?

[2016-06-07 13:41] amgohan commented on #64
You are right, in the first expand the input field is the first thing that receives focus.

What we expect, every time we expand after selection, we want that the input be focused, not the selected value

[2016-06-07 13:42] amgohan commented on #63
yes exactly

[2016-06-07 13:49] amgohan commented on #62
this is what we use now
[code]

the behaviour we want :
every time we expand the drop down we want to start from scratch for filtering (no filter applied and focus on the input)

[2016-06-07 14:10] alsoscotland commented on #62
@amgohan Sure.  I can make that an option.  I will try to get it done in the next day or two

[2016-06-07 14:12] amgohan commented on #62
Thanks, by the way you did an awesome work in this component

[2016-06-07 14:13] alsoscotland commented on #64
I need to verify that changing that does not break the expected accessibility behavior

[2016-06-07 14:13] alsoscotland commented on #63
Sure.  This seems like a bug actually

[2016-06-07 14:16] amgohan commented on #64
this can be part of the issue #62, if you add an option to clear search and start from scratch for filter with focus on input search every time we expand the dropdown

[2016-06-07 15:14] alsoscotland commented on #62
@amgohan Thank you!  Very glad to have people finding it useful

[2016-06-08 18:06] amgohan opened #65 "when text is long in (r-ss-selected-label) it exceeds the margin of rss_1"
this is well handled in ul (r-ss-dropdown-options) dropdown, when select a long text it exceeds the margin of rss_1.

![superselect](https://cloud.githubusercontent.com/assets/3297683/15905229/1e323d30-2d82-11e6-832f-69c396480068.jpg)

[2016-06-08 18:20] amgohan opened #66 "expand and close without selecting anything, the focus change over the list"
try to expand and close the dropdown multiple time without selecting anything. You will see the focus change over the options.
this is some images from expand and close multiple times (the focus change over the list) :
![react-select-bug1](https://cloud.githubusercontent.com/assets/3297683/15905727/e9fad99e-2d83-11e6-8114-a57ab54d092d.jpg)

![react-select-bug2](https://cloud.githubusercontent.com/

[2016-06-08 18:52] alsoscotland commented on #66
This is related to the search input focus issue you brought up yesterday

[2016-06-08 18:53] alsoscotland commented on #65
I will take a look at this too

[2016-06-09 13:41] alsoscotland commented on #65
https://github.com/alsoscotland/react-super-select/pull/67

[2016-06-09 13:41] #65 closed

[2016-06-09 22:29] alsoscotland commented on #62
@amgohan
Still working on this.  Just wanted to let you know

[2016-06-09 23:07] amgohan commented on #62
@alsoscotland thanks for the update

[2016-06-10 12:43] amgohan opened #69 "Enhancement : highlight searched input"
when searching, we hope that searched input will be highlighted.

You can tell me if you want any help, I can code with you :)

[2016-06-10 12:51] amgohan opened #70 "Enhancement : option to expand dropdown on component mount"
We hope save clicks for our users, so we want when the page load, the dropdown fetch data and expand automatically.

It can be an option

[2016-06-10 13:25] alsoscotland commented on #69
@amgohan Always happy to receive help.  Although I am not sure I want to add that to the default renderer.  I would prefer to make just pass the search term to the customRendering function.  A user supplied custom renderer could then handle the search highlight regular expression and markup

[2016-06-11 01:25] alsoscotland commented on #70
https://github.com/alsoscotland/react-super-select/pull/71

[2016-06-11 01:25] alsoscotland commented on #69
https://github.com/alsoscotland/react-super-select/pull/71
adds the searchString as a 2nd parameter to the user-supplied custom template rendering function

[2016-06-11 01:26] alsoscotland commented on #66
https://github.com/alsoscotland/react-super-select/pull/68

[2016-06-11 01:26] alsoscotland commented on #64
https://github.com/alsoscotland/react-super-select/pull/68

[2016-06-11 01:26] alsoscotland commented on #63
https://github.com/alsoscotland/react-super-select/pull/68

[2016-06-11 01:26] alsoscotland commented on #62
https://github.com/alsoscotland/react-super-select/pull/68

[2016-06-11 01:33] alsoscotland commented on #62
https://github.com/alsoscotland/react-super-select/tree/v0.5.0

[2016-06-11 01:33] #62 closed

[2016-06-11 01:33] alsoscotland commented on #63
https://github.com/alsoscotland/react-super-select/tree/v0.5.0

[2016-06-11 01:33] #63 closed

[2016-06-11 01:34] alsoscotland commented on #64
https://github.com/alsoscotland/react-super-select/tree/v0.5.0

[2016-06-11 01:34] #64 closed

[2016-06-11 01:34] alsoscotland commented on #66
https://github.com/alsoscotland/react-super-select/tree/v0.5.0

[2016-06-11 01:34] #66 closed

[2016-06-11 01:34] alsoscotland commented on #69
https://github.com/alsoscotland/react-super-select/tree/v0.5.0

[2016-06-11 01:34] #69 closed

[2016-06-11 01:35] alsoscotland commented on #70
https://github.com/alsoscotland/react-super-select/tree/v0.5.0

Thanks again @amgohan for filing all these issues!  I think release v0.5.0 should address them all.  (With the exception that you'll need a custom rendering function to do the highlighting)  Please get in touch if you see any issues

[2016-06-11 01:35] #70 closed

[2016-06-11 05:35] amgohan commented on #70
@alsoscotland : Thank you very much for releasing 0.5.0 quickly :+1: , I tried 0.5.0 it is awesome.

- I have just one thing to add : when the option to expand dropdown on component mount is active, can you automatically focus on the search input text?

-  Can you provide an example of how to exploit the custom rendering function to highlight

Thans again.

[2016-06-12 15:18] alsoscotland commented on #70
@amgohan
I got your message about focus:
Glad that 0.5.0 is working for you.  It is a bit too aggressive for me to auto-focus the control.  It is not necessarily everyone's use-case that the control should be a focus point of the page, and manipulating focus directly is not typically a good idea for accessibility.

I will look into having an option to do so.  Either an option for a callback functi

[2016-06-12 19:35] amgohan commented on #70
@alsoscotland : I agree with you for auto-focus, it shouldn't be the default behaviour, but you can add it as option like "focusSearchOnExpand" or let the user extends the super-select-component and override some methods (OOP principales). for example in my case I want be able to override this method :
[code]

by :
[code]

- for the highlight I tried the way you showed me, the replace works fine b

[2016-06-12 20:56] alsoscotland commented on #70
@amgohan
Yes.  Sorry.  Not quite as simple to get the highlight that way.  You have to use dangerouslySetInnerHTML if using raw html like this markup.  There are other ways to accomplish this with regular expressions but I was trying to do a simpler case:

[code]

[2016-06-12 20:59] alsoscotland commented on #70
@amgohan
In terms of the focus issue, Overriding the focus function like you requested would break the aria accessibility for the control.

[2016-06-12 21:33] amgohan commented on #70
@alsoscotland : thanks for the hint about dangerouslySetInnerHtml, this is my highlight function :

[code]

[2016-06-12 21:33] alsoscotland commented on #70
Added focusOnMount option in https://github.com/alsoscotland/react-super-select/tree/v0.5.1

[2016-06-12 21:34] amgohan commented on #70
for focus matter option like "focusSearchOnExpand" would be enough

[2016-06-13 12:42] amgohan opened #73 "Enhancement : option to position the search icon at the left"
Hi  @alsoscotland I hope you are doing well.

I want to position the search magnifier to the right (to match our ux requirements), but I found that is hardcoded into the component code source.

Can you provide an option like "searchMagnifierIconToLeft" or tell me if there is another way to do it.

Thanks.

[2016-06-13 14:21] alsoscotland commented on #73
@amgohan
The styling rules for the control are all written with fairly minimal specificity.  You should be able to add a custom class to your wrapper with the customClass property http://alsoscotland.github.io/react-super-select/#customClass and then override any css you want to change by preceding rules with that class.

[2016-06-14 03:57] #73 closed

[2016-06-14 11:19] amgohan commented on #73
:+1 thanks @alsoscotland I was able to fix it

[2016-07-04 18:54] reintroducing opened #75 "Disabling?"
First off let me say this component is fantastic, nice job.

One thing so far that I've found it is missing is the ability to disable it much like you can disable a regular Select dropdown.  It would be nice to just pass a `disabled` prop to ReactSuperSelect.  That would make it easy and the API intuitive (the same as a regular form element).

Thoughts?

[2016-07-04 19:12] reintroducing opened #76 "onOpenDropdown/onCloseDropdown props"
I'm wrapping ReactSuperSelect in a custom component that handles displaying errors in the proper spot based on a prop, putting labels in correct spots, etc.  I'd like to add a class to my wrapper when the dropdown is open and subsequently remove it when the dropdown is closed.  I think these two props would be a welcome addition to the component.

Looking at the source it looks like this should be

[2016-07-04 20:38] alsoscotland commented on #75
@reintroducing
Absolutely.  That is an oversight on my part.  I will look into adding that this week.

[2016-07-04 20:39] reintroducing opened #77 "ReactSuperSelect eats mouse scroll and keyboard events"
I found these two issues that I wanted to bring to your attention.

Firstly, when the dropdown is open and i'm scrolling through the page, as soon as my mouse scrolls into the dropdown the scrolling stops and I can no longer scroll.  This seems problematic because picture a dropdown at the bottom of a page.  As you scroll down all the way and open the dropdown, I assume you won't be able to access

[2016-07-04 20:40] alsoscotland commented on #76
@reintroducing
Just to be clear on the ask...  You want a onOpenDropdown and onCloseDropdown callback prop so you can manipulate wrapping DOM if need be?

I'd be happy to accept a pull request.  I can update docs accordingly.  If not, I can look into this as well when on the disabled prop request

[2016-07-04 20:44] reintroducing commented on #76
Yep, exactly.  I see in the code that you're using the callback on setState to run a lot of methods though probably a more efficient way to do this would be in a componentDidUpdate and checking if `prevState.isOpen !== this.state.isOpen` and if so call the correct prop callback based on what the current state is.

I'm done for the day as its 4th of July here in the US (I assume you're in Scotland?

[2016-07-05 03:19] alsoscotland commented on #77
@reintroducing
I will look into this as well.

[2016-07-05 04:41] alsoscotland commented on #75
https://github.com/alsoscotland/react-super-select/pull/78

[2016-07-05 04:42] alsoscotland commented on #76
@reintroducing Hah!  no worries

[2016-07-05 05:14] alsoscotland commented on #77
I have a fix for he keyboard event issue.

As far as the scrolling is concerned.  I made the behavior that way intentionally.  otherwise if you scroll to the bottom of the results set, particularly in an infinitely paging result set, the page continues to scroll and it is not as usable.

[2016-07-05 05:16] alsoscotland commented on #77
https://github.com/alsoscotland/react-super-select/pull/79

[2016-07-05 14:00] reintroducing commented on #77
Thanks, perhaps an option to enable/disable this? That way if someone wants that functionality they can have it but if not then they can opt out?

[2016-07-05 14:53] alsoscotland commented on #76
@reintroducing
added to https://github.com/alsoscotland/react-super-select/pull/79

[2016-07-05 14:54] alsoscotland commented on #77
@reintroducing
I was thinking something along the same lines.  It is a heavy handed choice so disabling via prop might make sense.  I will look into it.  Thank you for all the great feedback by the way

[2016-07-05 15:27] reintroducing commented on #76
Awesome, thanks!

[2016-07-05 15:27] #76 closed

[2016-07-05 15:28] reintroducing commented on #77
Absolutely, and thanks for all your work on this, really appreciate it.

[2016-07-05 18:13] alsoscotland commented on #77
no worries

[2016-07-06 01:47] alsoscotland commented on #77
added forceDefaultBrowserScrolling prop in https://github.com/alsoscotland/react-super-select/pull/79/commits/77ab3464c9d26716f721d5af1b8b71b5fc67d940

[2016-07-06 04:32] alsoscotland commented on #77
@reintroducing
https://github.com/alsoscotland/react-super-select/commit/1ef30d53ec02aacba1bfd5941eb2fbfa9cfc9c20
your idea of using componentDidMount for the onClose/onOpen callbacks ended up being better.  thanks!

[2016-07-06 12:56] reintroducing commented on #77
Glad to hear it, thanks again!

[2016-07-06 14:51] alsoscotland commented on #77
@reintroducing  if you use these new props please let me know if you run into any issues

[2016-07-06 15:00] reintroducing commented on #77
To be 100% honest I ended up using react-select in the end.  If you want my reasoning I can certainly provide it but it boiled down to getting this done a few days ago :\

[2016-07-11 01:59] #77 closed

[2016-11-06 18:40] thumarmahesh opened #82 "No way to disable clear selection."
When you select an option and after that if you select the same option, it will deselect it. This is intuitive and may be useful in most of the cases.
But In other cases we'll always need to have a selected option. I.e. we can not allow user to deselect the option as we may update the lot of UI based on selected option and there is no space for empty selection.
p.s. I've already set {clearable:fal

[2016-11-07 18:37] alsoscotland commented on #82
@thumarmahesh
That seems to go against the paradigm of how an html select control works.
Perhaps your use case falls more in line with a control that mimics the behavior of groups of radio buttons

[2016-11-08 04:00] thumarmahesh commented on #82
Thank @alsoscotland for replying.

Actually my case is more aligned with html (`<select />`) control only.  `<select>` control will not allow you to deselect the option once you've selected it!
You've to add an empty option (may be at the top) and select that to deselect the current option in html `<select>` control.

So, I think both cases are in line with a select control only :)

Can't we simpl

[2016-11-08 15:37] alsoscotland commented on #82
@thumarmahesh
I do not want to overload that property with multiple responsibilities.  It is used to control whether or not the clear button shows in the trigger.  I am going to investigate adding a property for this purpose.

[2016-11-09 05:01] thumarmahesh commented on #82
great, thanks @alsoscotland :)

[2016-11-09 14:48] alsoscotland commented on #82
@thumarmahesh
https://github.com/alsoscotland/react-super-select/tree/v0.5.7
adds a deselectOnSelectedOptionClick option.  set it to false for the behavior you requested

[2016-11-09 14:48] #82 closed

[2016-12-02 05:29] oyeanuj commented on #46
@alsoscotland Can't believe I never responded here, sorry about that! Now that I am back to working on that project, I have some good news!

Hardcoding `controlId` fixes the issue. Any thoughts on how to proceed further?

[2016-12-02 15:09] alsoscotland commented on #46
@oyeanuj I had not looked into this further since we last were discussing the issue.  Glad to hear that hard-coding works as a temp fix.

[2016-12-02 18:33] oyeanuj commented on #46
I think #85 fixes the issue without making it a breaking change. Let me know if that works?

[2016-12-07 15:14] ilinalexgit opened #87 "Got warning when using search field."
When I start typing into the search filed I receive this warning -

Warning: ReactSuperSelect is changing an uncontrolled input of type undefined to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component.

and after that clear button for search field doesn't e

[2016-12-07 15:17] alsoscotland commented on #87
@ilinalexgit
Thanks.  I will look into it.  Can you tell me what version of the control you are on?

[2016-12-07 15:21] ilinalexgit commented on #87
@alsoscotland
Thank for quick response.

"react-super-select": "^0.5.8"

[2016-12-07 16:06] alsoscotland commented on #87
@ilinalexgit
no worries.  I have not been able to re-produce yet.  That warning showed up in newer versions of React I think.  I will take a look soon.

[2016-12-07 17:00] ilinalexgit commented on #87
@alsoscotland
I think problem is with initializing "searchString" state variable with "undefined" instead of ' ' (empty string).

Please check my commit:
https://github.com/ilinalexgit/react-super-select/commit/69f6e5bf95d001a7b6a3009df072d2fece2731b2

[2016-12-07 18:03] alsoscotland commented on #87
@ilinalexgit That looks right.  Thank you.  I will make that change later tonight

[2016-12-07 21:34] alsoscotland commented on #87
@ilinalexgit https://github.com/alsoscotland/react-super-select/tree/v0.5.9 should address it.  Please let me know.  Thanks!

[2016-12-07 21:34] #87 closed

[2016-12-08 08:32] ilinalexgit commented on #87
@alsoscotland
Works fine now, thanks.

[2016-12-09 14:45] alsoscotland commented on #87
@ilinalexgit Great!  Thanks for reporting the issue

[2016-12-12 08:27] DuckMingBrother opened #89 "In IE9, Object.setPrototypeOf is not support"
we tried babel-polyfill, the babel can't fix this issue too. can you fix this?

[2016-12-12 15:05] alsoscotland commented on #89
@DuckMingBrother @kensomanpow
https://github.com/alsoscotland/react-super-select/tree/v0.5.10 may fix the issue.  Could you please give it a try?

[2016-12-13 06:26] DuckMingBrother commented on #89
I tried 0.5.10, it's fix the problem.

but we meet other problem,

` ReactSuperSelect.prototype.componentWillUnmount = function componentWillUnmount() {
    document.removeEventListener('click', this._handleDocumentClick);
    document.removeEventListener('touchstart', this._handleDocumentClick);
  };`

in IE10, 11, above event listener not remove after componentWillUnmount,
and error is  **this._

[2016-12-16 21:45] alsoscotland commented on #89
@DuckMingBrother I will take a look at this soon

[2016-12-19 17:04] alsoscotland commented on #89
@DuckMingBrother
This may correct the issue.  Please let me know
https://github.com/alsoscotland/react-super-select/tree/v0.5.11

[2016-12-22 10:00] VikLiegostaiev opened #91 "Support for immutable.js"
Hi, can you add support for immutable.js like some methods with function argument for iteration ?

[2016-12-22 15:09] alsoscotland commented on #89
@DuckMingBrother Any news on whether this solved your problem?

[2016-12-22 15:11] alsoscotland commented on #91
@VikLiegostaiev
I have been trying keep this control fairly un-opinionated.  Requiring that people use Immutable.js may make some people's use cases break.
I use the control in projects that leverage react-super-select and we typically just call
[code]
on Immutable lists when providing the dataSource prop

[2016-12-23 08:15] VikLiegostaiev commented on #91
i see, but it affect the performance, doesn't it? If i have big data, so first i must change it toJS and then render, but if you have any default method for iteration, so i can pass my iteration function as argument and render from immutable. Something like this
    superSelectRenderFunction (item) {
        return (
            <li>{item.option}</li>
        )
    }
    superSelectFunc(data,itera

[2017-01-01 19:39] #89 closed

[2017-01-03 15:27] alsoscotland commented on #91
@VikLiegostaiev Sorry for the delayed response.  I took a break for the holidays.
I will consider this.

[2017-01-04 11:49] tasiek opened #92 "Support for disabled options"
In our application, we need a support for disabling options (visible but not active).

It is used in HTML as disabled attribute on option element. We could have an optional "disabled" property in option object.

[2017-01-04 18:23] alsoscotland commented on #92
@tasiek That is absolutely something this control should allow.  I will make a pull to add disabled-option support soon

[2017-01-05 10:13] VikLiegostaiev opened #93 "Clear selected options on data source change"
Hi, have one more problem :-)  if my dataSource is dynamically changed and i want to selected options become cleared with every changed what i should do? :) now, i just change state with the help of refs, but i recommend you to add some property as for example clearSelectedValuesOnDataSourceChange. Thanks :D

[2017-01-05 14:45] alsoscotland commented on #93
@VikLiegostaiev That should be easy enough to add.  I am planning to create a new version in the next couple of days

[2017-01-13 14:34] alsoscotland commented on #92
@tasiek
I am back after being out sick a while.  I have put together a branch with disabled option support.  Next version will have it

[2017-01-13 14:36] alsoscotland commented on #91
@VikLiegostaiev
I don't think I am going to pursue this at the moment.  It will have a fair degree of complication around the control.   Might be a good candidate for a fork

[2017-01-14 17:41] #91 closed

[2017-01-14 17:51] alsoscotland commented on #92
@tasiek
released https://github.com/alsoscotland/react-super-select/tree/v0.5.12
It should allow for disabled options

[2017-01-14 17:51] #92 closed

[2017-01-14 18:11] alsoscotland commented on #93
@VikLiegostaiev
Added the new prop in https://github.com/alsoscotland/react-super-select/tree/v0.5.13

[2017-01-14 18:11] #93 closed

[2017-01-14 18:16] tasiek commented on #92
Works fine, thank you!

[2017-01-17 16:58] alsoscotland commented on #92
👍

[2017-02-03 11:11] conor909 opened #96 "clicking an option highlights it, need an extra click to select"
When the dropdown is open, it seems when I click on a option it highlights it.  I then need an extra click to selected it.  Can I remove this extra click?

[code]

[2017-02-03 14:36] alsoscotland commented on #96
@conor909 I have not seen this behavior.  Can you tell me what browser or device you are seeing this in?

[2017-02-03 16:54] conor909 commented on #96
So I believe this was an error with my redux cycle, the value wasn't being passed down from props properly.

Thanks anyway

[2017-02-03 16:54] #96 closed

[2017-03-16 13:09] VikLiegostaiev opened #97 "close select on selected option click"
Hi again, can u please add a method that will close select when i click on already selected option :-)

[2017-03-20 09:17] VikLiegostaiev commented on #97
Something like this:
[code]

[2017-03-23 14:05] alsoscotland commented on #97
@VikLiegostaiev Just an update:
looking into this.  Trying to make it behave like a native select control.  There is a little complication with multiselect/tag inputs.   Trying to work some bugs out for the moment

[2017-03-29 14:10] alsoscotland commented on #97
https://github.com/alsoscotland/react-super-select/tree/v0.5.15

[2017-03-29 14:10] #97 closed

[2017-03-31 19:02] eduardobarbiero opened #99 "Append element"
Hello People,
Is it possible to create a last element with a non-selectable option but an action?
Ex:
![capturar](https://cloud.githubusercontent.com/assets/9976687/24565334/3cb772e2-162b-11e7-8773-9f22dad37e97.PNG)

Thanks.

[2017-04-03 13:46] alsoscotland commented on #99
@eduardobarbiero
at the moment the only way to do something like this would be to leverage the custom option templating and do something hacky.  You would basically have to append a bogus option item to your data list, and switch the behavior of your template function's output for the link option

[2017-04-03 13:56] eduardobarbiero commented on #99
Thanks @alsoscotland

So if it is not possible to implement in this way, i believe that preventing the click on the object is also not possible, correct?

[2017-04-10 16:56] Saulf1 opened #100 "API Search"
Hi,

Is it possible to use the search bar to trigger an API call instead of using `hasMoreData`? For example, by default the select will have the first 10 results from `ajaxDataFetch` and then will call an API to get more results passing the search input?

Should be able to do this with an "onSearch" type function but can't find anything similar in the docs.

Thanks

[2017-04-11 13:14] alsoscotland commented on #100
@Saulf1
There is not a way to do this currently.
The control is not designed to work as a typeahead.

[2017-04-14 21:31] #100 closed

[2017-04-25 18:27] th3fallen opened #101 "Import only used lodash methods"
instead of `import _ from 'lodash'` as seen in https://github.com/alsoscotland/react-super-select/blob/master/src/react-super-select.js#L11

do `import {values, uniqueId, bindAll, isArray, isFunction, isUndefined, isEqual, extend, isEmpty, head, isObject, isString, map, reject, includes, isNumber, groupBy, forIn, find, noop, reduce, } from 'lodash';` < jeez you use a ton of them....

[2017-04-25 21:14] alsoscotland commented on #101
Thanks!
https://github.com/alsoscotland/react-super-select/tree/v0.5.16

[2017-04-25 21:14] #101 closed

[2017-04-26 19:21] th3fallen commented on #101
also on that topic is there a reason you use lodash's `_.map` method vs the built in one?

[2017-04-26 19:40] alsoscotland commented on #101
@th3fallen I started this component with some pre-babel ES5 code.  Never converted it.  Interestingly though, check this out https://jsperf.com/native-map-vs-lodash-map

[2017-04-26 19:46] th3fallen commented on #101
well, i'll be damned.... point taken... TIL

[2017-04-26 19:53] th3fallen opened #103 "opt-group parents selectable?"
is there any way to make a parent selectable?

[2017-04-29 02:54] alsoscotland commented on #103
@th3fallen is the intention that selecting a group heading would effectively multi-select all child-options in the group?
That would be a challenge to do while maintaining the keyboard accessibility of the control

[2017-04-29 02:59] th3fallen commented on #103
@alsoscotland no, the goal would be for the group heading to be assigned a value and be selectable just like a child.

[2017-05-09 18:51] alsoscotland commented on #103
@th3fallen
sorry for the delayed response. The way group headings work now is that they are non-focusable and they use the aria role 'separator'.  At present I don't think it makes sense to refactor it to work this way in the control for the general use-case of a select

[2017-05-19 12:35] eduardobarbiero opened #104 "Is there any possibility of leaving the super-select field required?"
In some specific cases we can add a markup tag and a break in the form submit to prevent submitting when there are incorrect occurrences in the form.

[code]
If there is any interest on the part of the master of the component, I can assist in the development.

[2017-05-19 13:11] alsoscotland commented on #104
@eduardobarbiero
Always happy to have help but I am not following exactly.  Can you please explain the scenario a bit further?

[2017-05-19 13:25] eduardobarbiero commented on #104
Hello @alsoscotland!

Basically leave the field created by super-select as required within a form, preventing the submit if the value not is expected (a blank value for example).

Did i express myself well?

[2017-05-23 03:24] oyeanuj opened #106 "Passing an array/object in initialValue"
Hi @alsoscotland, this isn't as much of an issue as a question, so feel free to close. I was wondering if I could understand better the choice of `initialValue` to be an object or array of object, rather than the index in the `dataSource` or the `id` of the object in the `dataSource`?

I either end up doing `dataList[initialIndex`] as the `initialValue` prop or construct an object. Constructing an

[2017-05-23 14:30] alsoscotland commented on #106
@oyeanuj
I made a choice in the control that the selected value would always be an array of option objects rather than just the array of values for a particular key.  This keeps that behavior consistent

[2017-05-23 14:30] #106 closed

[2017-05-29 12:30] 92arpitgoyal opened #107 "noResultsString does not appear when groupBy is present"
When `groupBy` is set, `noResultsString`('No Result Found' by default) stop to work, even if there is no match for string being searched.

[2017-05-29 13:35] 92arpitgoyal commented on #107
https://github.com/alsoscotland/react-super-select/pull/108

[2017-05-29 14:38] alsoscotland commented on #107
@92arpitgoyal Thank you for filing the bug and for the fix

[2017-05-29 15:15] alsoscotland commented on #107
Addressed in https://github.com/alsoscotland/react-super-select/tree/v1.0.1

[2017-05-29 15:15] #107 closed

[2017-05-29 15:17] alsoscotland commented on #99
@eduardobarbiero
I have decided not to implement this at this time because adding actionable elements which are not select options goes a bit against the select-control's normal paradigm

[2017-05-29 15:17] #99 closed

[2017-05-29 15:17] #103 closed

[2017-05-29 15:18] alsoscotland commented on #104
@eduardobarbiero closing since per our conversation you found a workaround

[2017-05-29 15:18] #104 closed

[2017-05-31 13:46] robinprashanth opened #110 "Set options selected manually"
I am using react super select in my project.I am facing issue where i need to reset the option selected to first object in the array.

Steps to reproduce
1)select some value from the dropdown
2)I have a button event-> when clicked-> reset the selected option to the fist option or desired option in the dropdown.

Hope you can help me

[2017-05-31 14:08] alsoscotland commented on #110
@robinprashanth
any outside event that updates the super-select's initialValue prop should result in that value being selected

[2017-05-31 14:29] robinprashanth commented on #110
I found the solution.Thanks for the help.

[2017-06-01 14:05] alsoscotland commented on #110
Glad to hear it

[2017-06-01 14:05] #110 closed

[2017-06-02 18:27] gitolog opened #111 "Numeric values and keys"
dataSource={[
  {"anchor":156,"label":156},
  {"anchor":168,"label":168},
  {"anchor":185,"label":185},
  {"anchor":205,"label":205}
]}
optionValueKey='anchor'
optionLabelKey='label'

React super select returns 'no data'

[2017-06-03 12:15] alsoscotland commented on #111
@gitolog
Thanks for filing the issue.  I will take a look

[2017-06-03 19:26] alsoscotland commented on #111
@gitolog
Should be addressed.  https://github.com/alsoscotland/react-super-select/tree/v1.0.2

[2017-06-03 19:26] #111 closed

[2017-06-05 10:44] gitolog commented on #111
@alsoscotland
Thank you! It seems all working well

[2017-06-07 00:07] alsoscotland commented on #111
@gitolog Thanks for letting me know!  Glad it is working for you

[2017-07-07 06:48] VikLiegostaiev opened #113 "Call onChange when clearSelectedValueOnDataSourceChange changes value"
Hi, when dataSource changes and clearSelectedValueOnDataSourceChange is true then value changes to empty array, but it doesn't call onChange function with this newValue. Can you please add this?

[2017-07-07 16:08] alsoscotland commented on #113
@VikLiegostaiev
I will take a look

[2017-07-07 16:14] alsoscotland commented on #113
@VikLiegostaiev
I think this is all that it needs.  Would you be able to verify if that branch does what you need?
https://github.com/alsoscotland/react-super-select/pull/114

[2017-07-10 14:10] VikLiegostaiev commented on #113
Yes it is, thanks. Will you add this to master branch?

[2017-07-10 18:46] alsoscotland commented on #113
@VikLiegostaiev
released https://github.com/alsoscotland/react-super-select/tree/v1.0.3

[2017-07-10 18:46] #113 closed

[2017-07-11 06:39] VikLiegostaiev opened #115 "create onClear callback"
Hi again, can you please add onClear callback, mean when i clear selected values with clear cross.

[2017-07-11 11:39] prdebski commented on #115
I need that too

[2017-07-11 14:56] alsoscotland commented on #115
@VikLiegostaiev @prdebski
please let me know if this does what you need
https://github.com/alsoscotland/react-super-select/pull/116

[2017-07-12 06:25] prdebski commented on #115
Yes it does, thanks!

[2017-07-12 14:25] alsoscotland commented on #115
@VikLiegostaiev @prdebski
https://github.com/alsoscotland/react-super-select/tree/v1.0.4

[2017-07-12 14:25] #115 closed

[2017-07-14 13:00] arnthorsnaer commented on #100
@alsoscotland Hey hey, I realize your component does not handle API search. I am still wondering if you can recommend a way I could listen for the input changes in my own code and update the datasource which would cause your component to re-render the list?

[2017-07-15 21:15] alsoscotland commented on #100
@arnthorsnaer
At the moment the only approach you could really take is to delegate a listener on the search field's onChange event and change the dataSource accordingly.  I do not see a reason why I could not broadcast changes to the search input value though.  I will investigate

[2017-07-16 00:30] arnthors commented on #100
Awesome, I am also been trying out react-select to solve my issue but frankly I preferred working with react-super-select

[2017-07-17 15:47] alsoscotland commented on #100
@arnthors Thanks!  Nice to hear
I just got back from vacation.  I will take a look at this soon

[2017-07-21 19:32] alsoscotland commented on #100
@arnthors just an update...  I have been looking into to it but it is not super simple and I have not had much time.  Still working though

[2017-07-23 02:40] arnthorsnaer commented on #100
Ok, thanks a bunch for spending cycles on this. As I mentioned earlier I've got a workaround so not a big deal.

[2017-07-24 19:29] alsoscotland commented on #100
@arnthorsnaer
I was able to accomplish something similar with this branch,  it creates a onSearchInputChange callback prop which gets called with the search term.  If you have some time, please let me know if that works for your use case
https://github.com/alsoscotland/react-super-select/tree/ss/issue_100_comment_external_search_event_handler

[2017-07-25 10:11] Amarjit1234 opened #118 "How to select the dropdown initially."
I want to select first element of dropdown intially.

[2017-07-25 11:32] #118 closed

[2017-07-26 19:19] eduardobarbiero opened #119 "Is there any possibility of leaving the super-select field noResultsString as template?"
In some specific cases we use a template for perform some action when there are no items in that select list.
Example:
[code]
If there is any interest on the part of the master of the component, I can assist in the development.

[2017-07-27 16:09] alsoscotland commented on #119
@eduardobarbiero That would be great.  I would be happy to accept a pull for that

[2017-08-04 17:46] gallardo1226 commented on #100
I'm trying to accomplish this, but I'm unclear on what the return value for my onSearchInputChange prop function should look like. Can you give an example or explain how it ties into ajaxFetch?

[2017-08-04 22:48] alsoscotland commented on #100
@gallardo1226
It is a bit atypical for the control as it was not originally intended to serve as a ajax search field for resetting the results.  The onSearchInputChange would need to manage the fetch and then reset the props (dataSource/initialValue) of the control once the data returns.

[2017-08-06 22:51] gallardo1226 commented on #100
Thanks for your quick response!  That should work for me, but maybe there is a way I can make it work more along the lines of the intended use.  I'm working with dynamic lists that can be as long as 10k options. Returning all that data at once isn't much of an issue, but putting all of it into a select at once isn't performant or user friendly.  Can I use the paging and searchable options in tande

[2017-08-07 06:20] prdebski opened #120 "Add possibility to pass component as placeholder"
That would be nice to have possibility to pass component as placeholder.
Now when passing component I got warning: "Failed prop type: Invalid prop `placeholder` of type `object` supplied to `ReactSuperSelect`, expected `string`."

[2017-08-07 06:23] prdebski opened #121 "How to clear selection programatically?"
How can I clear selection programatically? I need to do it by clicking a button not being part of select. Setting initialValue prop to undefined does not work.

[2017-08-07 15:27] alsoscotland commented on #120
@prdebski placeholder is used as the value for the html attribute placeholder.  It would not be semantic to allow components there

[2017-08-07 15:27] #120 closed

[2017-08-14 20:15] alsoscotland commented on #121
@prdebski
My apologies for the delay.  Started a new job last week.
at present you cannot do this.   I will try and investigate adding the initialValue to what is inspected when props update.  I am not sure what the level of complication in doing so without looking into it

[2017-08-16 12:41] a1argus opened #122 "Multiselect with Shift-key problem"
Multiselect with Shift-key not working if values are numerics converted to string
like this:
dataSource={[
{"name":100,"value":"100"},
{"name":200,"value":"200"},
{"name":300,"value":"300"},
]}

  **_getOptionValueFromDataAttr** converts them opportunistically to numerics
but then **_selectAllOptionsInOptionIdRange** compares them to string and gets nothing

[2017-08-23 14:47] alsoscotland commented on #122
@a1argus I will take a look at this soon.

[2017-08-24 04:25] alsoscotland commented on #122
@a1argus Thanks for filing the bug.
https://github.com/alsoscotland/react-super-select/tree/v1.0.6

[2017-08-24 04:25] #122 closed

[2017-08-24 04:39] alsoscotland commented on #121
@prdebski Finally got some time to start looking at this.  I am checking for initial value change when props update so I am not certain why this is not working yet.  Should have an answer for you fairly soon

[2017-08-24 05:06] alsoscotland commented on #121
@prdebski I was able to get a test scenario up and for me when I set initialValue to undefined I see the control clear.  I am not able to reproduce a problem.  Can you possibly give me more info about what is going on?

[2017-08-24 05:21] alsoscotland commented on #119
@eduardobarbiero Let me know if this would work for you.  I just overloaded the prop type for noResultsString to allow for React Elements as well.
https://github.com/alsoscotland/react-super-select/pull/124

[2017-08-24 06:28] andreivictor opened #125 "Fallback to native select on mobile"
Is it possible to deactivate the dropdown menu on mobile devices, to use the built-in select of the OS for a better UX?

[2017-08-24 11:52] eduardobarbiero commented on #119
@alsoscotland exactly!

[2017-08-24 13:25] alsoscotland commented on #125
@andreivictor The control is pretty coupled with react-dom at this point.  I am sure sure how to go about this.  Do you have any suggestions?

[2017-08-24 13:36] alsoscotland commented on #119
@eduardobarbiero
Done https://github.com/alsoscotland/react-super-select/tree/v1.0.7

[2017-08-24 13:36] #119 closed

[2017-08-30 15:43] alsoscotland commented on #121
@prdebski Going to close for now as I was unable to reproduce the issue

[2017-08-30 15:43] #121 closed

[2017-09-20 05:09] alsoscotland commented on #125
@andreivictor closing for now

[2017-09-20 05:09] #125 closed

[2017-09-20 06:11] andreivictor commented on #125
@alsoscotland, thanks. I was thinking about adding a <select> element in the DOM, that will be hidden on large screens and visible on mobile devices. But I will try to fork and come up with a complete solution when I'll have some spare time on my hands.

[2017-10-13 17:14] gallardo1226 opened #126 "Auto focus on ajax search?"
I'm trying to configure my ajax search so that the searchable input element autofocuses when the dropdown opens. This works perfectly for non-ajax search, or if the ajax dropdown is opened a second time with the data already fetched, but it doesn't seem to work on the initial data fetch.

At initial state there is no `lastUserSelectedOption`, so `_setFocusOnOpen` passes to `_moveFocusDown`, which

[2017-10-13 20:27] alsoscotland commented on #126
@gallardo1226
That seems like an oversight that the input does not focus while fetching occurs.  I will take a look

[2017-10-17 14:50] gallardo1226 commented on #126
Much appreciated!

[2017-10-18 03:44] alsoscotland commented on #126
@gallardo1226
Thanks for filing the issue.  Should be addressed in the latest
https://github.com/alsoscotland/react-super-select/tree/v1.0.8

[2017-10-18 03:44] #126 closed

[2017-10-18 12:22] gallardo1226 commented on #126
Thanks for addressing it so quickly!

[2017-10-23 13:40] bezchristo opened #128 "Select all on multi select"
What would be the best approach to do a select all on the multi select?

[2017-10-23 14:06] alsoscotland commented on #128
@bezchristo
If you are using the ui, the control works like a html multi-select.  You can shift-click the last option.

Programmatically, you can set the initial value to an array of all options in the data set

[2017-10-26 03:26] alsoscotland commented on #128
@bezchristo
Does that cover what you needed?

[2017-11-06 15:09] robinprashanth opened #129 "initialValue as empty array or empty object"
I am working on a project were the select option is optional in the create form. In Edit form, I need to set initialValue based on the API response. Is there any option to pass empty array or object to reactsuperselect.

Example
constructor(props) {
    super(props);
    this.state = {
      errors: {},
      recNumberInitialValue: undefined
    };
  }
componentDidMount(){
getAPIrequest.then((resp

[2017-11-06 15:51] #128 closed

[2017-11-06 15:56] alsoscotland commented on #129
@robinprashanth
The code should handle the case where
[code]
I think empty array should be fine as well.
Another option would be to simply not render super select at all if no options are available

[2017-11-06 17:27] robinprashanth commented on #129
I have to show super select even if it's not having any initialValue. If i pass empty array it breaks with error : name property was not found

[2017-11-06 18:32] alsoscotland commented on #129
Is there a reason you are not able to just leave initialValue undefined?

[2017-11-06 18:33] robinprashanth commented on #129
Undefined did the trick.Thanks for the help.

[2017-11-06 18:33] #129 closed

[2017-11-06 21:55] alsoscotland commented on #129
No problem @robinprashanth

[2017-11-08 05:58] ashfaqrafi opened #130 "add custom icons in the select options"
Is there any way to add custom icons in the select options? if yes then how?

[2017-11-08 18:11] alsoscotland commented on #130
@ashfaqrafi The control supports fully customized option-templating.  Example here: http://alsoscotland.github.io/react-super-select/react-super-select-examples.html#custom_template

[2017-11-08 18:11] #130 closed

[2017-11-13 09:01] skkohli opened #131 "unable to run example in react cli"
I might be doing something wrong here. I used npm install in the project created by react cli. When i include the library import {ReactSuperSelect} from 'react-super-select/lib/react-super-select'; i errors that **Element type is invalid:**
I also dont see any examples in the github repo to run it

[2017-11-13 14:37] alsoscotland commented on #131
@skkohli
I think it is likely just a problem with your import statement.
[code]
rather than
import { ReactSuperSelect }

ReactSuperSelect is the only export of the package.
Please let me know if that solves your issue

[2017-11-14 13:27] skkohli commented on #131
Yes, That was a mistake. Thanks for the amazing component @alsoscotland

[2017-11-16 20:16] alsoscotland commented on #131
@skkohli no worries.  Glad it is working!

[2017-11-16 20:16] #131 closed

[2017-11-16 21:47] tjbenneche opened #132 "Remove Selected Option From List"
Is there a way to remove a selected option from the options list? Right now I'm hiding them with CSS, but I would like to be able to key down through the list without needing extra presses to get past the hidden list items.

[2017-11-19 04:50] alsoscotland commented on #132
@tjbenneche This doesn't work out of the box as it doesn't really follow the paradigm of an html select control.  That said though, it should be manageable if you just make a wrapping component that keeps track of the selected options in its state.  You would just have to filter the options supplied to the super-select in the wrapping component.

[2017-11-21 10:15] conor909 opened #133 "Encountered two children with the same key, `drop_li_undefined`"
How do I add keys to dropdown children?

[2017-11-21 15:01] alsoscotland commented on #133
@conor909 The keys are generated programatically based on your options 'id' or whatever key name you supply to the optionValueKey prop.

If you are seeing duplicate key errors, I suspect the issue is that you have more than one option with the same value in your options data

[2017-11-21 15:29] conor909 commented on #133
Thanks!  Sorry I didn't realise an `id` was required.

[2017-11-21 15:29] #133 closed

[2017-11-27 21:08] #132 closed

[2018-01-30 08:33] VikLiegostaiev opened #137 "onSearchInputChange isn't called after select an option with clearSearchOnSelection prop active."
Hello.
I wrote something in search input, then I selected option, dropdown closed and search input cleared but no call of onSearchInputChange. Is this should work in such way or is this a bug? Maybe, is there another way to callback when search is cleared on selection?

[2018-01-30 14:39] alsoscotland commented on #137
@VikLiegostaiev Might be a bug.  I will take a look soon

[2018-01-30 16:31] arimourao opened #138 "clearSelectionButton set through props?"
Hello there,

I need a drop down where a value always has to be selected. By default, react-super-select places a clearSelectionButton when an option is chosen. How about if we are allowed to pass a prop to tell if we want this clear selection or not?

[2018-01-31 22:41] ccav01 opened #139 "&..; symbols and html tags within a displayed label are being escaped"
Nevermind, it's react doing it not your code.  My apologies, close this.

[2018-02-01 20:05] alsoscotland commented on #139
@ccav01 no worries.  you might be able to solve the problem with https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml in a custom template

[2018-02-01 20:05] #139 closed

[2018-02-01 20:05] #138 closed

[2018-02-02 18:24] ccav01 commented on #139
Yep, I found that right after I sent the notice.  :)  Thanks for touching
base with me.  I'm going to try a custom option template that returns <span
dangerously... and see if it makes it through.

On Thu, Feb 1, 2018 at 2:05 PM, Scotland Stephenson <
notifications@github.com> wrote:

[2018-02-14 12:57] arjitaM opened #140 "Can't fire onBlur event"
onChange is working fine. I want to fire onBlur to throw validation error but that is no working. what is the way to do it ?

[2018-02-22 04:12] alsoscotland commented on #140
@arjitaM
I added callback props for onBlur and onSearchInputBlur in https://github.com/alsoscotland/react-super-select/tree/v1.0.10

[2018-02-22 04:12] #140 closed

[2018-02-22 04:12] alsoscotland commented on #137
@VikLiegostaiev
my apologies that this took a while.  Let me know if the issue is solved in
https://github.com/alsoscotland/react-super-select/tree/v1.0.10

[2018-02-22 04:12] #137 closed

[2018-03-01 08:44] TimNZ opened #142 "Custom selected tag template"
Hey mate

Great alternative to react-select which has patchy support and long awaited PR pending i.e. ajax paging, thanks!

Is there a reason you haven't supported selected tag templates?

I find yours a bit ugly, and overriding all your CSS is fiddly.

[2018-03-01 08:54] TimNZ commented on #142
Not an issue, can extend the class and override the relevant methods

[2018-03-01 08:54] #142 closed

[2018-03-01 13:33] alsoscotland commented on #142
@TimNZ
Glad you like the control.  The intention was a very generic UI by default that can be overridden pretty easily.  Let me know if you need any guidance.

[2018-03-01 22:12] TimNZ opened #143 "Paging quirks"
Is it intentional that you need to implement both ajaxDataFetch and pageDataFetch for paging?

If I DO NOT implement ajaxDataFetch, no page load is triggered on dropdown open until I move the mouse over the dropdown container.

If I DO implement ajaxDataFetch, it is called twice immediately on initial open, twice being one more time than necessary :)

I then have to implement hacky code to ensure

[2018-03-02 02:50] alsoscotland commented on #143
@TimNZ
sounds like it is probably a bug where the paging handler is being called due there not being content in the drop down.  It basically gets triggers anytime the bottom of the dropdown list becomes visible by scrolling

[2018-03-02 15:32] alsoscotland commented on #143
@TimNZ I added a potential fix to
https://github.com/alsoscotland/react-super-select/tree/v1.0.12
you will still have to defined both if the intent is to ajax fetch the first set of content.  But I think this will prevent the double fetch

[2018-03-03 20:32] TimNZ commented on #143
Thanks for the fast turn-around.

No change.

_fetchDataViaAjax has one call path:
-> _getOptionsMarkup
-> _getDropdownContent
-> render()

render() is called multiple times in the initial render lifecycle and state.rawDataSource  is not set before _needsAjaxFetch is called multiple times, and ajaxDataFetch() is of course async allowing this to happen.

You could debug the lifecycle to see how to

[2018-03-03 21:37] alsoscotland commented on #143
@TimNZ Okay.  I took the issue to be that the paging and the ajax fetch were both being called.  tried a quick fix for that.   I will take another look.

[2018-03-03 22:40] TimNZ commented on #143
Thanks.

Having to implement both func is a separate consideration.

I don't find it to be an intuitive implementation choice, and it is not clear in the documentation or from the example how to do paging and that Both handlers are required, so I had to spend a bit of time sussing out the flow.
Which led to seeing ajaxDataFetch was called twice.

Every ajax mechanism I've used or implemented has o

[2018-03-04 03:45] alsoscotland commented on #143
I agree that it is not ideal.  It grew out of two distinct use cases.  page fetch from where you have the first page and the ajax for subsequent pages, the other where you made a single ajax fetch for a single page of results.

[2018-03-04 03:55] alsoscotland commented on #143
@TimNZ Spent some time earlier tonight investigating the double renders.
Unfortunately, they are due to the tracking of focused option id in component state.

I appreciate you taking the time with the control and your points are valid.  Consolidating the ajax handlers and deprecating the separate paging setup would be ideal, but at the moment I do not have the bandwidth to investigate further.

I

[2018-03-05 10:13] TimNZ commented on #143
I'll see how I feel about doing a PR next week.

[2018-03-29 07:51] VikLiegostaiev opened #145 "Doesn't close select on outside click"
Hi again!

There is one problem, can you check pls?

When I pass the disabled prop equal to true from parent's component state to react-super-select, it works great - block component. However, when I change this property to false with setState, it updates react-super-select, but I can't close the component on outside click  Only when disabled prop is false on the mounting of component then I can c

[2018-03-29 12:18] alsoscotland commented on #143
@TimNZ Going to close this for now

[2018-03-29 12:18] #143 closed

[2018-03-29 13:22] alsoscotland commented on #145
Hello again @VikLiegostaiev
This may fix it but if not please let me know.  There are another couple lines I may need to adjust
https://github.com/alsoscotland/react-super-select/tree/v1.0.14

[2018-03-29 13:47] VikLiegostaiev commented on #145
It hasn't been fixed, the same behaviour.

[2018-03-29 15:54] alsoscotland commented on #145
Thanks.  Wasn't sure.  will take another look

[2018-04-01 10:57] TimNZ commented on #100
I need searchable+pageable ajax, so will implement this.

If the control is in ajax mode, we want search input changes to force a refresh, and no longer just filter existing items

Proposed changes:
* Add props:
- ajaxSearch - boolean - default = false: toggles above behaviour
- ajaxSearchDelay - number - default = 250 (ms) : debouncing for performance

* Behaviour change if ajaxSearch enabled
No

[2018-04-02 00:44] TimNZ commented on #100
Works great.

All search input change logic moved to new func called by 3 places that currently just call this.props.onSearchInputChange

Need to add debounce support.

Will wait for feedback before merging into fork and a PR.

Centralised search input val change handler:
[code]

[code]

[code]

Will have to investigate if any issue with nested setState calls, but appears to works fine.
Likely nee

[2018-04-02 01:31] TimNZ commented on #100
I've removed the 'ajaxSearchDelay' prop.

Makes sense to leave throttling to the ajaxDataFetch/pageDataFetch handlers and not be opinionated about it in ReactSuperSelect.

[2018-04-02 03:33] alsoscotland commented on #100
@TimNZ thanks for working on this.  changes look good.  Have you verified nothing fails in the existing test suite?  If not, please make a PR and I can check some things out.

[2018-04-02 09:18] TimNZ commented on #100
Should do by end of week.

[2018-04-02 11:07] TimNZ commented on #100
Any issue with changing the lodash imports to direct versions?

e.g.
[code]
->
[code]

Saves 100k in production build as lodash is a big dist

[2018-04-02 15:01] adamfeher opened #148 "When deselecting focus jumps to last selected option"
Consider an instance of the component with 50+ options displayed with multiple selection and deselection enabled.

If the user selects some options from the bottom of the select and selects options from the top, then the focus and this.lastUserSelectedOption is pointing to an option at the top of the dropdown.

Now, if the user scrolls down and wants to deselect multiple options from the bottom, t

[2018-04-10 20:16] dineshgm opened #149 "Onchange event not working on keyboard selection."
Hi,

I am able to use onChange event when I use the mouse click, But whenever I tend to use keyboard(Enter key) to select the option, I see following error on my console.

[code]

[2018-04-10 20:32] alsoscotland commented on #148
@adamfeher My apologies.  I didn't see this issue come through until today.
I can take a look.  I am not 100% sure what else that could effect

[2018-04-10 20:43] alsoscotland commented on #149
@dineshgm can you give me more info about your setup?  I cannot reproduce the scenario where enter key on an option yields an undefined option.  Are you passing undefined in your dataSource by chance?

[2018-04-11 15:04] adamfeher commented on #148
Not a problem.   I understand some flow depends on that value and perhaps some assumptions based on it.   This scenario is not 'breaking' in any sense, just usability is unfortunately poor.

[2018-04-13 01:28] alsoscotland commented on #148
@adamfeher  Thanks for the feedback.  Agreed this is a poor Ui experience.  I was able to remove the focus change and have not noticed any problems.  Please give
https://github.com/alsoscotland/react-super-select/tree/v1.0.15
a try.

[2018-04-13 01:28] #148 closed

[2018-04-16 15:58] dave-irvine opened #151 "Data elements having IDs that parse to Numbers causes error"
Example: https://codesandbox.io/s/mq4ry6m969

Open the dropdown menu and press spacebar.

Essentially the problem boils down to https://github.com/alsoscotland/react-super-select/blob/master/src/react-super-select.js#L896 which converts from strings to Number. Unfortunately when this Number later gets consumed in https://github.com/alsoscotland/react-super-select/blob/master/src/react-super-select

[2018-04-16 16:58] alsoscotland commented on #151
@dave-irvine Thanks for submitting the issue.  Will take a look soon

[2018-04-27 05:12] mickmister opened #152 "CSS file required was not obvious"
I looked throughout the examples and API to find out why my options were being rendered as a plain list with bullet points. The small message at the bottom of the README says to import the css file from the lib file. It was difficult to find. This is a nit-picky issue, but I would not have been able to use the library had I not looked for it there.

[2018-04-30 09:56] jayjaybeeuk commented on #151
Hi there

We faced the same issue when data values were integers. The issue seems to be ficed for us by modifying the like that reads:

Return this._getTypeSafeOptionValue(optionValue)

To:

Return this._getTypeSafeOptionValue(optionValue).toString()

I can raise a pull request if you wish?

[2018-04-30 21:25] alsoscotland commented on #151
@jayjaybeeuk thanks.  This is on my todo list but it may be a couple days. If you want to make a PR that would be great too

[2018-05-06 00:33] alsoscotland commented on #149
@dineshgm closing since I have not heard a response

[2018-05-06 00:33] #149 closed

[2018-05-06 01:46] alsoscotland commented on #145
@VikLiegostaiev Give this a shot
https://github.com/alsoscotland/react-super-select/tree/v1.0.17

[2018-05-31 14:11] dave-irvine opened #155 "onBlur event?"
Hi!

Currently, when you open the super-select, it fires the onBlur event because the dropdownContent is rendered as a sibling to the triggerDiv, and opening the select causes focus to jump to the dropdownContent.

Is this the right place for the onBlur handler to go? At the moment I'm having to intercept the onBlur, detect where the focus has jumped to, and if the focus is on dropdownContent then

[2018-05-31 18:57] alsoscotland commented on #155
@dave-irvine It is possible I could move the onBlur handler to the outermost div in the control but I am not 100% sure that would not have undesirable consequences.  I will have to give it a try.  A bit swamped at the moment though.  May be able to take a look in a few days

[2018-06-07 12:23] darekkay opened #156 "Custom props / aria-label"
Hi, thanks for this component and your very fast response times on GitHub :smile:

I have two somehow related WCAG issues about labeling the select component.

1. I need to add `aria-describedby` prop to announce my component's hint in the screen reader. However, there is no way to pass custom input props into your component.

2. You set `aria-label` equal to the component's placeholder. This is o

[2018-06-08 13:49] darekkay commented on #156
I've created PR #157 and tested the component within our application. Using `inputProps` it is possible to pass `aria-describedby` and override `aria-label`. This makes extending the component really easy without any breaking changes.

[2018-06-08 14:57] alsoscotland commented on #156
@darekkay Thanks for the nice comments.
Both of these issues seem like good things to address.  Thanks for the work!

[2018-06-11 06:40] Chnoch opened #158 "Runtime Error when selecting an element with the Enter Button"
Hi.

I'm currently experiencing an issue when navigating the dropdown with the keyboard and selecting an item with Enter or Tab. I'm getting the following exception:
[code]

Any idea what the issue could be?

[2018-06-11 06:50] Chnoch commented on #158
Apparently this has been solved by either version `1.0.16` or `1.0.17`. We were up until recently on version `1.0.15` and once I upgraded `react-super-select` to the latest version the issue disappeared.
Thanks for your work.

[2018-06-11 06:50] #158 closed

[2018-06-19 09:22] kuemme01 opened #159 "Feature wish for not focusing to the last selected entry."
hi Guys,
I use react-super-select as multiselect and find it annoying that the dropdown list always tries to center the last selected entry.
I have already found the source for this behavior. It happens in the `componentDidUpdate` method where `this._focusCurrentFocusedId();` is called.
Could you control this call via a Boolean, which you could pass the `<ReactSuperSelect />` component. Something

[2018-06-19 11:41] kuemme01 commented on #159
I recently create a pull request for you guy's that would enable that feature. Please have a look if it's not in conflict with your project in general.

[react-super-select/pull/160](https://github.com/alsoscotland/react-super-select/pull/160)

[2018-06-29 04:07] #156 closed

[2018-06-29 04:07] #155 closed

[2018-06-29 04:08] #145 closed

[2018-06-29 04:41] alsoscotland commented on #159
@kuemme01
Thanks again.  Give https://github.com/alsoscotland/react-super-select/tree/v1.0.19
a try

[2018-07-11 02:13] alsoscotland commented on #159
@kuemme01 just wanted to check once more if this worked for you.  Thanks

[2018-07-12 11:57] kuemme01 commented on #159
Yes! We already implemented it on dev stage. Worked fine now!
Again thank you for your fast support.

[2018-07-19 19:49] alsoscotland commented on #159
@kuemme01 Thanks for getting back to me.  No problem.  Glad you like the control

[2018-07-19 19:49] #159 closed

[2019-01-23 09:16] devalf opened #162 "customOptionTemplateFunction"
When I use `customOptionTemplateFunction` I got `Warning: Each child in an array or iterator should have a unique "key" prop.` error in console. The same issue is present on the package demo page.

[2019-01-23 21:31] alsoscotland commented on #162
Thanks for letting me know @devalf. I will take a look soon

[2019-02-07 16:07] alsoscotland commented on #162
@devalf Thanks again.  Apologies it took me a while to get to it
https://github.com/alsoscotland/react-super-select/tree/v1.0.20

[2019-02-07 16:07] #162 closed

[2019-02-28 08:14] marinsagovac opened #164 "Applying Material UI Theme - MUI"
I want to implement CSS from material UI theme, is there any demo, sample how to apply for multiselect with styles?

A code is worked in MUI, but styles diffs from your code to MUI. Is there any demos, recommendations, samples or working samples to applying MUI Theme.

Currently I got plain as:

![selection_146](https://user-images.githubusercontent.com/8504733/53551217-097ef280-3b39-11e9-88bf-6d4

[2019-02-28 13:52] alsoscotland commented on #164
@marinsagovac
The package includes a default css stylesheet that you can add to your project here:
https://github.com/alsoscotland/react-super-select/blob/master/lib/react-super-select.css

The component also supports a `customClass` attribute: http://alsoscotland.github.io/react-super-select/#customClass
which is added to the outer-wrapping element of the control.  I do not have material UI examp

[2019-05-06 16:28] #164 closed

[2019-08-19 14:17] a2441918 opened #165 "Getting Object doesn't support property or method 'contains' in IE11"
Hi, I am trying to use this component but get 'Object doesn't support property or method 'contains'' in IE.  Chrome works fine. I installed core-js and regenerator-runtime as polyfills. Please advice.

[https://stackblitz.com/edit/react-qvhjub?file=index.js](https://stackblitz.com/edit/react-qvhjub?file=index.js)

[2019-08-19 18:28] alsoscotland commented on #165
@a2441918 please try https://github.com/alsoscotland/react-super-select/tree/v1.0.22
It seems like IE11 does not support contains on the document

[2019-09-27 10:34] mildrenben opened #166 "Readme is out of date"
Cannot build locally, trying to make sense of the gulp tasks but it's quite hard to understand without docs.

The docs call for:
[code]

But `gulp build` is not a task. I tried `gulp build:docs-gulp-sequence` and that throws an error.

Are the docs out of date? How do I get this running locally?

[2019-09-27 14:54] #165 closed

[2019-09-27 14:55] alsoscotland commented on #166
@mildrenben
Apologies about the readme.  Can you try
[code]

[2019-09-27 15:40] mildrenben commented on #166
Damn I tried this also, tried again to make sure but `npm run build` fails too

[code]

[2019-09-27 15:54] alsoscotland commented on #166
possibly try manually creating a /tmp directory first?
`mkdir tmp`
Apologies... I wrote this project a couple of years ago and the build/gulp setup likely needs some attention at this point

[2019-10-01 12:05] mildrenben commented on #166
Hey @alsoscotland – I've gone through and fixed a number of documentation issues and updated some of the processes so that it works now 👍

The reason I was doing this is so I could make the switch from `lodash` to `lodash-es`, which is tree-shakeable and lowers bundle sizes.

When switching to `lodash-es`, the build process broke and I cannot figure out why or how to fix it. The error when running

[2019-10-02 01:16] alsoscotland commented on #166
@mildrenben
Give this a shot
https://github.com/alsoscotland/react-super-select/tree/v1.0.23
I have added the es2015 plugin to babelify for the docs processing.  That may help

[2019-10-02 09:32] mildrenben commented on #166
Unfortunately I'd tried that before and it doesn't fix the issue.

Any chance you could pull my repo down and take a look please?

[2019-10-02 14:29] alsoscotland commented on #166
@mildrenben
I looked at this for a couple hours. Something about lodash-es and browserify are not playing well together.  I attempted to update to latest babel and move to gulp-bro but still was seeing the issue even with the latest dependencies.  This Component is badly in need of updating but unfortunately I do not have the bandwidth at the moment to do so.

[2019-11-13 02:37] krtschmr opened #168 "componentWillReceiveProps has been renamed, and is not recommended for use"
`<ReactSuperSelect initialValue={this.initialValue()} customOptionTemplateFunction={this.bankTemplate} placeholder={"Select the receiving bank"} dataSource={this.props.banks} onChange={this.changeHandler} clearable={false}/>`

results in

[code]

[2019-11-13 13:06] alsoscotland commented on #168
@krtschmr Thanks for filing the issue.  At the moment I do not have the bandwidth to update this component.

[2019-11-13 14:30] krtschmr commented on #168
@alsoscotland  that's okay. i'm too much of a beginner to understand what's going on in react, so i can't patch/fix it and just report. as long it's in here, so we know it and can address it in future, we are all happy.

[2020-06-22 13:09] vladyslav-pavluchynskyi opened #169 "pageDataFetch not happen when in browser using zoom 110%"
When I try to change zoom in my browser fetching data stop to propagate. My gif from your example. In my case, it happens when I choose 110% and more.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/46020875/85290674-0df3bb00-b4a2-11ea-904c-9a0fcc52d5bf.gif)

[2020-06-22 17:12] alsoscotland commented on #169
@vladyslav-pavluchynskyi Unfortunately I do not have the bandwidth at the moment to work on react-super-select. The page fetch is triggered based on a mouseMove.  In the gif you posted I do not see the mouse approaching the bottom of the dropdown.  If you have time to contribute a fix try looking at how the _onMouseMove method handles the scrollTop/scrollHeight calculations

[2021-03-31 19:56] 6079-Smith-W commented on #121
I'm still struggling with what I think @prdebski was struggling with - I can't figure a way to programmatically clear three super-selects on my form along with all the other options (This may be because I'm doing something obviously and glaringly wrong, though). I did set 'initialValue' to a property of a react state hook object:

[code]
Changing formData with setData, like `setForm(defaultQuery)`

[2021-03-31 20:13] alsoscotland commented on #121
@6079-Smith-W
Thanks for reaching out.  I have not had bandwidth to work on this component for several years now.  It was last compatible with React@15.x.x which was before hooks.  I am not sure how it would interact in current react with hooks

[2021-04-01 16:51] 6079-Smith-W commented on #121
Thanks - I think we'll just go ahead and use react-select, which was already included in my project, but my lack of experience and guidance led me to go down a path with a little less activity/community than I probably should have, to get functionailty I didn'e realize was already in react-select from another control.

[2022-04-13 03:55] saravntbe opened #170 "Rendering huge list items - Performance issue"
Rendering huge list of items cause performance issue. is it possible to use custom component(virtual rendering) for rendering the list ?